html{
    height: 100%;
}

body{
    background-color: black;
    height: 95%;
}

table{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    table-layout: fixed;
    border-spacing: 0px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
}

td{
    border: 0px solid black;
    vertical-align: top;
    padding: 0px;
}

.eventtd{
    border-top:    1px solid;
    border-bottom: 1px solid;
    border-left:   0px solid;
    border-right:  0px solid;
    vertical-align: top;
}

.sidebartd{
    text-align: right;
    border: 1px solid;
}

.sidebarbigtd{
    border: 0px solid;
    width: 50px;
}

.sidetable{
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-color: black;
    border-collapse: collapse;
}

.weektable{
    width: 95%;
    height: 100%;
    border-width: 4px;
}

.daytable{
    width: 100%;
    height: 100%;
    border-top:    1px solid;
    border-bottom: 1px solid;
    border-left:   0px solid;
    border-right:  1px solid;
    border-collapse: collapse;
}
